<% @jon = @article.meta_title %>
<% content_for :meta_title, @jon %>
<% content_for :meta_description, @article.meta_description %>
<% content_for :meta_image, "#{@article.meta_image}" %>

<div class="banner-show">

	<%#= image_tag(@article.photo, class: 'image-article-show') %>
  <%= cl_image_tag(@article.photo,
    :transformation=>[{:raw_transformation=> "w_1000"}], class: "image-article-show")%>
	<h1 class="text-center"><%= @article.title %></h1>
	<div class="container col-md-8">
    <div class="article-text">
  		<% @jon = @article.text.html_safe %>
  		<%= @jon%>

    </div>

		<div class="author-show">
			<% if @article.author == "Baptiste Chebassier"  %>
				 <div class="d-flex flex-row-reverse">
          <div>
             <%= cl_image_tag("Viivan/BaptFichier_10.png",:transformation=>[{:raw_transformation=> "w_300"}], :class => 'avatar-article') %>
  					 <p>Baptiste Chebassier</p>

          </div>

				 </div>
			<% elsif @article.author == "Céline Devinoy"%>
				<div class="d-flex flex-row-reverse">
          <div>
  					 <%= cl_image_tag("Viivan/image-removebg-preview_21.png",:transformation=>[{:raw_transformation=> "w_300"}], :class => 'avatar-article' ) %>
  					<p>Céline Devinoy</p>

          </div>
				</div>
				<% elsif @article.author == "Céline Devinoy et Baptiste Chebassier"%>
				<div class="d-flex flex-row-reverse">
          <div>
            <div>
    				 	<%= cl_image_tag("Viivan/image-removebg-preview_21.png",:transformation=>[{:raw_transformation=> "w_300"}], :class => 'avatar-article') %>
    				 	<%= cl_image_tag("Viivan/BaptFichier_10.png",:transformation=>[{:raw_transformation=> "w_300"}], :class => 'avatar-article') %>

            </div>
  					<p>Céline Devinoy et Baptiste Chebassier</p>

          </div>
				</div>
			<% end%>

    <div class="row">
      <div class="btn-wrapper col-6">
        <%= link_to "Tous les articles", articles_path, class: 'btn-blue' %>
      </div>
      <div class="btn-wrapper col-6">
        <% if @article.id < Article.last.id %>
           <%= link_to "Article suivant", article_path(params[:id].to_i + 1), class: 'btn-blue' %>
        <% end %>
      </div>

    </div>
		</div>
	</div>
</div>
