<div class="navbar navbar-expand-lg" id="navbar">
	<%= link_to root_path, class: "logo" do %>
    	<%= image_tag("viivan.gif", :class => "viivan-gif-navbar") %>
  	<% end %>
      <div class="d-flex">
        <div class="compteur">
          <img class="oeuf-image" src="https://visuels.l214.com/animaux/poules/oeufs/oeuf-detoure.png" alt="">
          <p> <%= Oeuf.count %> oeufs</p>
        </div>

      </div>


	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"><svg class="bi bi-list" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		<path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
		</svg></span>
	</button>
<!-- 	<div class="nav-list row">
		<div class="nav-item"><a href="#demarche"> La démarche</a></div>
		<div class="nav-item">Ressources</div>
		<div class="nav-item"><a href="#sondage">Répondre au questionnaire</a></div>
		<div class="nav-item">Résultats</div>
		<div class="nav-item"><a href="#team">L'équipe</a></div>
	</div> -->
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav">
			<!-- <div class="nav-item"><a href="#demarche"> La démarche</a></div> -->

			<%= link_to "Suivez-nous !", root_path(anchor: 'suivez-nous'), class: 'nav-item' %>
			<%= link_to "Vos suggestions", root_path(anchor: 'suggestions'), class: 'nav-item'  %>
      <%= link_to "Galerie", galeries_path , class: 'nav-item' %>
			<%= link_to "Videos", videos_path , class: 'nav-item' %>
			<%= link_to "Nos petites histoires", articles_path, class: 'nav-item'%>

			<!-- <div class="nav-item"><a href="#team">L'équipe</a></div> -->
		</ul>
	</div>
</div>
