<div class="banner-dashboard">
	<h1>Dashboard Admin</h1>
	<div class="dashboard-suggestions">
		<h2>Suggestions</h2>
		<% @suggestions.each do |suggestion| %>
		<div class="dash-suggestion col-md-4">
			<h3 class="text-center"><%= suggestion.ville %></h3>
			<div class="dash-owner">
				<p>Par : <%= suggestion.name_owner %></p>
			 	<p>Email : <%= suggestion.email_owner %></p>
			</div>
			<br>
			<div class="dash-contact">
				<h4>Contact</h4>
				<p> Nom du contact : <br><strong><%= suggestion.name_contact %>  </strong></p>
				<p> Adresse : <br> <strong><%= suggestion.address %> </strong> </p>
				<p> Ville : <br> <strong><%= suggestion.ville %> </strong> </p>
				<p> Code Postal : <br> <strong><%= suggestion.code_postal %> </strong> </p>
				<p> Numéro de tel : <br> <strong><%= suggestion.phone_number %>  </strong></p>
				<p> Email : <br> <strong><%= suggestion.email %> </strong> </p>
				<p> Description : <br> <strong><%= suggestion.description %> </strong> </p>
				<p> Categorie : <br> <strong><%= suggestion.category %> </strong> </p>
				
			</div>
		</div>
		<% end %>
	</div>
	<div class="dashboard-articles">
		
	</div>
</div>